{% extends "base_template.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <!-- My Js -->
  <script src="{{ url_for('static', filename='./js/index.js') }}" rel="stylesheet"></script>  
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Data Disaster</h1>
    <p class="lead">The world's least secure database.</p>
  </div>
</div>



<div class="container">

  <div class="row">
    <a role="button" class="btn btn-success mr-2 mb-1" href="/adduser"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
    <a role="button" class="btn btn-success mb-1" href="/addusers_random"><i class="fa fa-user-plus" aria-hidden="true"></i>Random</a>
  </div>

  <div class="row">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in users.items() %}
          <tr id="table_row_userId_{{ key }}">
            <th scope="row">{{ key }}</th>
            <td>{{ value[0] }}</th>
            <td>{{ value[1] }}</th>
            <td>
              <a role="button" class="btn btn-info" href="/read/{{ key }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
              <a role="button" class="btn btn-warning" href="/edituser/{{ key }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteUserModal" data-user_id="{{ key }}" data-user_fname="{{ value[0] }}" data-user_age="{{ value[1] }}">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>







<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-warning">
        <h5 class="modal-title" id="deleteUserModalLabel">WARNING</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body centered">
        <p>Are you sure you want to delete:</p>
        <p class="modal-user"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger button-delete">Delete</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
